.uplProgress { border: 1px solid #d8d8d8; border-radius: 3px; padding: 2px; margin: 12px 0; }
.uplProgress .uplFile { background-color: #f1f1f1; padding: 3px 6px; border-radius: 4px; margin-bottom: 4px; }
label .mat-icon { vertical-align: middle; }
