.loaderMessage { text-align: center; }
.loaderMessage .mat-spinner { width: 100px; height: 100px; margin-left: auto; margin-right: auto; margin-bottom: 20px; }
.copy { font-size: 14px; }
.copy .logoWGC { height: 17px; vertical-align: middle; margin-left: 4px; }