.fileExplorer .clickable { cursor: pointer; }
.fileExplorer a { text-decoration: none; color: black; }
.fileExplorer a:hover { text-decoration: underline; }
.folderActions button { margin-right: 6px; }

.fileExplorer TR:hover .hoverActions .mat-icon { visibility: visible; cursor: pointer; cursor: pointer; margin-left: 6px; border-radius: 3px; }
.fileExplorer TR:hover .hoverActions .mat-icon:hover { background-color: #f5a30f;  }
