.iconListContainer { overflow-y: auto; overflow-x: hidden; height: 260px; border: 1px solid lightgray; border-radius: 4px; } 
.iconList { list-style: none; padding: 0 0 20px 0; } 
.iconList li { float: left; border-radius: 4px; padding: 3px; margin: 3px; cursor: pointer; } 
.iconList li:hover { background-color: lightgray; }
.mat-dialog-content { overflow-x: hidden; }