<div>
    <div mat-dialog-content>
        <a mat-icon-button href="https://www.cloudee-cms.com/documentation#!/doc/publish-pages" target="_blank"
            style="float: right;" title="Help">
            <mat-icon>help_outline</mat-icon>
        </a>
        <h1 mat-dialog-title>Publish page</h1>
        <div class="loader" *ngIf="loading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <div class="isErrorBox" *ngIf="errorMessage">
            <pre>{{errorMessage}}</pre>
            <button mat-button (click)="btnViewLog()" *ngIf="lstLog">View Log</button>
        </div>
        <div *ngIf="published" class="isOKBox">
            <mat-icon matListIcon>cloud_done</mat-icon> Published!
            <a href="{{publishedPageURL}}" target="_blank" class="mat-stroked-button">View page</a>
            <div style="clear:both;"></div>
        </div>
        <div *ngIf="unpublished" class="isOKBox">
            <mat-icon matListIcon>cloud_off</mat-icon> Page removed!
        </div>
        <div *ngIf="!loading && !published && !unpublished">
            Publish to:<br><br>
            <mat-radio-group [(ngModel)]="selectedTargetEnv" aria-label="Select target" class="radiogrp-targets">
                <mat-radio-button class="radiogrp-target" *ngFor="let bucket of buckets" value="{{bucket.bucketname}}">
                    {{bucket.label}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <br />
    </div>
    <div mat-dialog-actions>
        <div *ngIf="!published && !unpublished">
            <button mat-stroked-button [disabled]="!selectedTargetEnv || loading" (click)="btnPublish()">
                <mat-icon matListIcon>cloud_upload</mat-icon>
                Publish
            </button>
            <button mat-stroked-button [disabled]="!selectedTargetEnv || loading" (click)="btnUnPublish()">
                <mat-icon matListIcon>cloud_off</mat-icon>
                Remove
            </button>
            <button mat-button (click)="btnCancel()">Close</button>
        </div>
        <div *ngIf="published || unpublished">
            <button mat-stroked-button (click)="btnCFDialog()">
                <mat-icon matListIcon>cloud_off</mat-icon> Create Cache Invalidation</button>
            <button mat-stroked-button (click)="btnViewLog()">View Log</button>
            <button mat-stroked-button (click)="btnCancel()">Close</button>
        </div>
    </div>
</div>