@use '@angular/material' as mat;
@include mat.core();

$wgc-primary: mat.define-palette(mat.$indigo-palette, 700, 200, A700);
$wgc-accent: mat.define-palette(mat.$grey-palette);
$wgc-warn: mat.define-palette(mat.$indigo-palette);

$wgc-theme: mat.define-light-theme($wgc-primary, $wgc-accent, $wgc-warn);

$dark-primary: mat.define-palette(mat.$red-palette);
$dark-accent:  mat.define-palette(mat.$amber-palette, A200, A100, A400);
$dark-warn:    mat.define-palette(mat.$deep-orange-palette);
$dark-theme: mat.define-dark-theme($dark-primary, $dark-accent, $dark-warn);

@include mat.all-component-themes($wgc-theme);

.fixedAppHeader { overflow-y: hidden; } /* apply this to the html.BODY tag to enable scrollable tab bodies */
.fixedAppHeader .flxtabs { height: 100%; overflow-y: auto; background-color: white; } /* scrollbar in tab body. height set using javascript onresize! */
.fixedAppHeader mat-sidenav-content { overflow-y: hidden; } /* disable full height scrollbar */
.fixedAppHeader mat-sidenav-container { width: 100%; }
.fixedAppHeader .flxtabs>.mat-tab-header { height: 49px;} /* make sure header height stays consistent */

body.wgc { background-color: #f5f5f5; }
.wgc .mat-sidenav-content { background-color: #ffffff; }
.wgc .app-header {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 0%, #f1f1f1 16%, #e1e1e1 32%, #e1e1e1 32%, #f6f6f6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffffff 0%,#f1f1f1 16%,#e1e1e1 32%,#e1e1e1 32%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffffff 0%,#f1f1f1 16%,#e1e1e1 32%,#e1e1e1 32%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); 
    color: #616161;
    padding: 6px 12px;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,.16),0 1px 3px rgba(0,0,0,.23);
    height: 52px;
}
.wgc .app-header a, .wgc .app-header a:visited { color: black;}
.wgc .app-header a:hover { color: #616161; }
.wgc .app-header-container { 
    max-width: 1920px; margin: auto; 
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.wgc .app-header-content-left {
    align-items: center;
    display: flex;
    height: 100%;
    margin-right: auto;
    width: auto;
    max-width: 1200px;
}
.wgc .app-header-content-right {
    display: flex;
    height: 100%;
    width: auto;
    max-width: 1200px;
}
.wgc .app-header .appLogo { width: 150px; padding-left: 12px; cursor: pointer; }
.dm .app-header .appLogo { filter: invert(1) grayscale(1); }

.wgc .app-header .appTitle { font-size: 14px; margin: 0 20px; font-weight: bold; cursor: pointer; }

.wgc .app-header .dspUsername { padding-top: 3px; }
.wgc .app-header ul.navHeader { margin:0; padding: 0; list-style: none; }
.wgc .app-header ul.navHeader li { margin:0; padding: 0; float: left; border-right: 1px solid #616161; }
.wgc .app-header ul.navHeader li .mat-button { line-height: 25px; }
.wgc .clrhdr { clear: both; height: 16px; }
.wgc .clr { clear: both; }

.wgc .viewTable { width: 100%; border-spacing: 0; border-collapse: collapse; font-size: 14px; }
.wgc .viewTable th { text-align: left; border-bottom: 2px solid lightgray; padding: 6px; }
.wgc .viewTable tbody td { border-bottom: 1px solid lightgray; padding: 6px; vertical-align: middle; }
.wgc .clickableRows TBODY TR:hover > TD { background-color: #c0dcff; transition: background-color 0.3s linear; }
.wgc .clickableRows TBODY TR > TD { cursor: pointer; transition: background-color 0.4s linear; }
.wgc .clickableRows THEAD TR:hover > TD, .wgc .clickableRows THEAD TR > TD { background-color: white !important; }

.wgc .viewTable .hoverActions { white-space: nowrap; }
.wgc .viewTable .hoverActions .mat-icon { visibility: hidden; margin-left: 6px; }
.wgc .viewTable tr:hover .hoverActions .mat-icon, .wgc .viewTable .permaActions .mat-icon { visibility: visible; cursor: pointer; cursor: pointer; margin-left: 6px; border-radius: 3px; }
.wgc .viewTable tr:hover .hoverActions .mat-icon:hover, .wgc .viewTable .permaActions .mat-icon:hover { background-color: #f5a30f;  }
.wgc .noLastRowBorder tr:last-child td { border-bottom: 0; }
.wgc .blockTabs .mat-tab-body-content { padding: 20px 12px 12px 12px; background-color: white; }
.wgc .app-footer { background-color: #f1f1f1; color: white; }
.wgc .app-footer-bar { background-color: #d8d8d8; clear: both; color: white; font-size: 13px; }

.wgc .app-footer .container { padding: 24px 10px; }
.wgc .app-footer-bar .container { padding: 10px; }
.wgc .app-footer .wgcLogo { float: right; width: 180px; }

.wgc .app-footer a, .wgc .app-footer a:visited { color: white; text-decoration: none; }
.wgc .app-footer a:hover { text-decoration: none; } 
.wgc .app-footer ul { margin: 0; padding: 0; list-style: none; }
.wgc .app-footer ul li { margin-bottom: 10px; }
.wgc .back-to-top { 
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
    background-color: #ffc510;
    width: 40px;
    height: 40px;
    float: right;
    color: black !important;
    display: block;
    text-align: center;
    padding: 8px;
    right: 10%;
    position: absolute;
    margin-top: -20px;
}
.wgc .back-to-top:hover { box-shadow: 0 6px 6px rgba(0,0,0,.16),0 6px 6px rgba(0,0,0,.23); }

.wgc .actionbar { float: right; }
.wgc .actionbar button { margin-left: 6px; }
.wgc .full-width { width: 100%; }

.wgc .loader { margin-top: 0; }
.wgc .loader .mat-spinner { margin: auto; margin-top: 50px; }

.wgc .isOKBox { color: black;  border: 1px solid rgb(35, 150, 0); background-color: #b9ffd1; border-radius: 3px; padding: 12px; margin-bottom: 16px; }
.wgc .isErrorBox { color: black; border: 1px solid red; background-color: #ffe6e0; border-radius: 3px; padding: 12px; margin-bottom: 16px; }
.wgc .isOKBox .mat-stroked-button { background-color: white; }
.wgc .inputform mat-card { margin-bottom: 20px !important; }
.wgc .codeField textarea { font-family: monospace; font-size: 13px !important; }

.wgc .fieldsTable { font-size: 12px; }

.wgc .cdk-drag-preview { /* the element that you drag around */
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    border: 1px solid rgb(255, 145, 0);
    cursor: dragging;
}
.wgc .cdk-drag-preview td { visibility: hidden; }

.wgc table.sortable .cdk-drag-placeholder {
    /* row where element is currently positioned while dragging */
   opacity: 0.8;
   background-color: rgb(254, 255, 203);
   transition: background-color 250ms linear;
}
.wgc table.sortable .cdk-drag-animating { transition: transform 250ms linear; }
.wgc table.sortable .cdk-drop-list-dragging .mat-row:not(.cdk-drag-placeholder) { transition: transform 250ms linear; }
.wgc table.sortable .drag-handle { cursor: grab; }

.wgc table .inUseCol .inUse { color: rgb(142, 231, 8); }
.wgc table .inUseCol .notInUse { color: rgb(231, 8, 8); }
.wgc table TR:hover .inUseCol .inUse { color: #8a8a8a; }

.wgc .loaderOverlay {
    background-color: white;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 999;
    opacity: 0.8;
}
.permaActions .mat-icon, .hoverActions .mat-icon { background-color: #69a9f9; color: white; }

/* Bright-mode overrides */
.flx-tree .treeRow:hover { background-color: #caeeff; transition: background-color 0.2s linear; }
.flx-tree .mat-icon:hover { background-color: #5ad1ff; color: black; }
.flx-tree .treeRow { background-color: transparent; transition: background-color 0.6s linear; border-radius: 3px; margin-bottom: 4px; padding: 2px 5px; }
.fieldsTable.clickableRow THEAD TR:hover > TD, .wgc .clickableRows THEAD TR > TD { background-color: white !important; }
.fieldsTable.clickableRow TBODY TR:hover > TD { background-color: #f2f8ff; transition: background-color 0.3s linear; }
.toggler .mat-icon { vertical-align: bottom; border-radius: 3px; font-size: 23px; width: 24px; height: 24px; margin-right: 6px; margin-top: 2px; margin-bottom: 2px; border: 1px solid lightgray; background-color: white; }
.fileExplorer a { text-decoration: none; color: black; }
.dmLink, .dmLink:visited, .dmLink:active  { color: #3a77c0; }
.dmLink:hover  { color: #3f82d4; }

/* Home component buttons - moved to global css due to scoping limitations */
.buttonlist button { width: 90%; margin-bottom: 20px; text-align: left; padding: 12px; 
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,efefef+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#efefef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
}

/* Dark Mode Theme */

.dm { @include mat.all-component-themes($dark-theme); }
.dm .flxtabs { background-color: #353535; }
.dm .mat-sidenav-content { background-color: #353535; }
.dm .flxtabs .mat-tab-label { background-color: #696969; border: 1px solid #989898 !important;}
.dm .flxtabs .mat-tab-label-active { background-color: #353535; }
.dm .flxtabs .mat-tab-list, .dm .flxtabs .mat-tab-body { background-color: #353535; }
.dm .app-header {
    background: #484444; /* Old browsers */
    background: -moz-linear-gradient(left, #4a4a4a 0%, #636363 16%, #464545 32%, #464545 32%, #525252 100%); /* FF3.6-15 */
    background: -webkit-gradient(linear, left top, right top, from(#4a4a4a), color-stop(16%, #464545), color-stop(32%, #525252), color-stop(32%, #525252), to(#4a4a4a));
    background: linear-gradient(to right, #4a4a4a 0%,#636363 16%,#464545 32%,#464545 32%,#525252 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#525252',GradientType=1 ); 
    color: #dedede;
    box-shadow: none;
    border-bottom: 1px solid #737373;
}
.dm .loginDialog .loginLogo { filter: invert(1) grayscale(1); }
.dm .mat-tab-nav-bar, .dm .mat-tab-header { border-bottom: 1px solid rgb(136 136 136 / 63%); }

.dm .buttonlist button { border: 1px solid #4c4c4c; 
    background: black; /* Old browsers */
    background: -moz-linear-gradient(top,  #4c4c4c 0%, #3c3c3c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #4c4c4c 0%,#3c3c3c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #4c4c4c 0%,#3c3c3c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#3c3c3c',GradientType=0 ); /* IE6-9 */
}
.dm .logoWGC { filter: invert(1) grayscale(1); }
.dm .mainLoader { background-color: black; }
.dm .loaderOverlay { background-color: #353535; }
.dm .clickableRows TBODY TR:hover > TD { background-color: #5d5d5d; }

.dm .flx-tree .treeRow:hover { background-color: #5d5d5d; }
.dm .flx-tree .mat-icon { color: black; }
.dm .flx-tree .mat-icon:hover { background-color: #5d5d5d; color: white; }

.dm .fieldsTable tbody td { border-bottom: 1px solid #656565; }
.dm .fieldsTable.clickableRow THEAD TR:hover > TD, .wgc .clickableRows THEAD TR > TD { background-color: #656565 !important; }
.dm .fieldsTable.clickableRow TBODY TR:hover > TD { background-color: #656565; transition: background-color 0.3s linear; }
.dm .toggler .mat-icon { vertical-align: bottom; border-radius: 3px; font-size: 23px; width: 24px; height: 24px; margin-right: 6px; margin-top: 2px; margin-bottom: 2px; border: 1px solid lightgray; background-color: #797979; }
.dm .fileExplorer a { text-decoration: none; color: white; }
.dm .dmLogo { filter: invert(1) grayscale(1); }
.dm .dmLink, .dm .dmLink:visited, .dm .dmLink:active  { color: white; }
.dm .dmLink:hover  { color: rgb(218, 218, 218); }
.dm .uplProgress { color: black; }
.dm .trumbowyg-box { background-color: #ecf0f1; }
.dm a.plainLink, .dm a:visited.plainLink { color: #ef4646; }

/**
 * Trumbowyg v2.21.0 - A lightweight WYSIWYG editor
 * Trumbowyg plugin stylesheet
 * ------------------------
 * @link http://alex-d.github.io/Trumbowyg
 * @license MIT
 * @author Alexandre Demode (Alex-D)
 *         Twitter : @AlexandreDemode
 *         Website : alex-d.fr
 */

 .trumbowyg-editor table { width: 100%; }
 .trumbowyg-editor table td {
       border: 1px dotted #e7eaec;
       padding: 8px; 
 }
 .trumbowyg-dropdown-table table {
     margin: 10px;
     display: inline-block; }
   
 .trumbowyg-dropdown-table table td {
     display: inline-block;
     height: 20px;
     width: 20px;
     margin: 1px;
     padding: 0;
     background-color: #fff;
     box-shadow: 0 0 0 1px #cecece inset; }
 .trumbowyg-dropdown-table table td.active {
     background-color: #00b393;
     box-shadow: none;
     cursor: pointer;
 }
   
 .trumbowyg-dropdown-table .trumbowyg-table-size { text-align: center; }
   