<div class="container">
    <div class="loaderOverlay" *ngIf="loading"></div>
    <div class="actionbar">
        <mat-form-field>
            <input matInput placeholder="Filter this view.." type="text" [(ngModel)]="viewFilter">
            <mat-icon matSuffix *ngIf="viewFilter!=''" (click)="viewFilter=''" style="cursor: pointer;">highlight_off</mat-icon>
        </mat-form-field>

        <mat-menu #miscMenu="matMenu">
            <button mat-button class="mat-menu-item" (click)="btnDelete()">Delete all selected</button>
        </mat-menu>

        <button mat-stroked-button [matMenuTriggerFor]="miscMenu" title="More actions..">
            <mat-icon>more_horiz</mat-icon>
        </button>
        <button mat-stroked-button (click)="btnNavigateTo('editor/forms/edit/NEW')">
            <mat-icon matListIcon>assignment</mat-icon> New Form
        </button>
    </div>
    <h3>Forms</h3>
    <div class="clrhdr"></div>
    <table class="viewTable clickableRows">
        <thead>
            <tr>
                <th style="width: 1%">
                    <button mat-icon-button (click)="loadView(true)" title="Click to refresh"> 
                        <mat-icon>refresh</mat-icon>
                    </button>
                </th>
                <th style="width: 15%">ID</th>
                <th style="width: 84%">Title</th>
                <th style="width: 1%">
                    <mat-checkbox [(ngModel)]="selectAll" (change)="setSelectAll()"
                        title="{{selectAll?'Deselect':'Select'}} all">
                    </mat-checkbox>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of viewList | orderBy: {property: 'title', direction: 1} | searchfilter: ['title','id'] : viewFilter">
                <td><mat-icon matListIcon>assignment</mat-icon></td>
                <td (click)="btnNavigateTo('editor/forms/edit/'+item.id)">{{item.id}}</td>
                <td class="clickable" (click)="btnNavigateTo('editor/forms/edit/'+item.id)">{{item.title}}</td>
                <td>
                    <mat-checkbox [(ngModel)]="item.sel"></mat-checkbox>
                </td>
            </tr>
        </tbody>
    </table>
</div>
