<div class="container inputform" *ngIf="frm">
    <div class="loaderOverlay" *ngIf="loading"></div>
    <div class="actionbar">
        <a mat-icon-button href="https://www.cloudee-cms.com/documentation#!/doc/forms" target="_blank" title="Help">
            <mat-icon>help_outline</mat-icon>
        </a>
        <button mat-button *ngIf="frm.id" (click)="btnDelete()">Delete</button>
        <button mat-stroked-button (click)="saveDocument()">Save</button>
    </div>
    <h3>Edit Form {{frm.id?'(ID:'+frm.id+')':''}}</h3>
    <div class="clrhdr"></div>
    <mat-card>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Form title" type="text" [(ngModel)]="frm.title" (change)="setHasChanges(true)" required>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Description" type="text" [(ngModel)]="frm.descr" (change)="setHasChanges(true)">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="full-width">
                    <input matInput placeholder="On success redirection URL" type="text" (change)="setHasChanges(true)"
                        [(ngModel)]="frm.redirectSuccess">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="full-width">
                    <input matInput placeholder="On failure redirection URL" type="text" (change)="setHasChanges(true)"
                        [(ngModel)]="frm.redirectFailure">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Static captcha result" type="text" [(ngModel)]="frm.staticcaptcha" (change)="setHasChanges(true)">
                </mat-form-field>
            </div>
            <div class="col-md-6">

            </div>
        </div>

    </mat-card>

    <mat-card>
        <div class="row">
            <div class="col-md-12">
                <a mat-icon-button href="https://www.cloudee-cms.com/documentation#!/doc/forms-notifications-sns"
                    target="_blank" title="Help" style="float: right;">
                    <mat-icon>help_outline</mat-icon>
                </a>
                <h4 style="margin: 0;">
                    <mat-checkbox [(ngModel)]="frm.notifySNS" (change)="setHasChanges(true)"></mat-checkbox>
                    Notification (SNS)
                </h4>
                <div class="clrhdr"></div>
            </div>
        </div>
        <mat-card *ngIf="frm.notifySNS">
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="SNS Topic ARN" type="text" [(ngModel)]="frm.snsTopicARN" (change)="setHasChanges(true)">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Subject" type="text" [(ngModel)]="frm.mailSubjectSNS" (change)="setHasChanges(true)">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="full-width">
                        <textarea matInput style="font-size: 13px !important; min-height: 120px;" placeholder="SNS Message body"
                            type="text" [(ngModel)]="frm.mailBodySNS" (change)="setHasChanges(true)"></textarea>
                        <mat-hint align="start">You can insert fields of the submitted form in the body text by using EJS variables: [%= fieldname %] or [%= FIELDLIST %] to list all fields of the form.</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </mat-card>
    </mat-card>

    <mat-card>
        <div class="row">
            <div class="col-md-12">
                <a mat-icon-button href="https://www.cloudee-cms.com/documentation#!/doc/forms-notifications"
                    target="_blank" title="Help" style="float: right;">
                    <mat-icon>help_outline</mat-icon>
                </a>
                <h4 style="margin: 0;">
                    <mat-checkbox [(ngModel)]="frm.notify" (change)="setHasChanges(true)"></mat-checkbox>
                    Notification (SQS)
                </h4>
                <div class="clrhdr"></div>
            </div>
        </div>
        <mat-card *ngIf="frm.notify">
            <div class="row">
                <div class="col-md-12">
                    <div class="actionbar">
                        <mat-form-field>
                            <input matInput placeholder="Add E-Mail Address" type="email" [(ngModel)]="tmpAddEmail">
                        </mat-form-field>
                        <button mat-stroked-button (click)="btnAddEmail()">Add</button>
                    </div>
                    <b>Recipients:</b>
                    <table class="viewTable">
                        <tbody>
                            <tr *ngFor="let mail of frm.lstEmail">
                                <td style="width: 95%;">{{mail}}</td>
                                <td style="width: 5%; text-align: right;" class="hoverActions">
                                    <mat-icon title="Delete" (click)="btnRemoveEmail(mail)">delete
                                    </mat-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </mat-card>
        <mat-card *ngIf="frm.notify">
            <div class="row">
                <div class="col-md-12">
                    <b>E-Mail template</b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="SQS Queue URL for mailer function" type="text"
                            [(ngModel)]="frm.sqsQueueURL" (change)="setHasChanges(true)">
                    </mat-form-field>
                </div>
            </div>
            <div class="row" *ngIf="frm.notify">
                <div class="col-md-6">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Sender e-mail address" type="text" [(ngModel)]="frm.mailFrom" (change)="setHasChanges(true)">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Subject" type="text" [(ngModel)]="frm.mailSubject" (change)="setHasChanges(true)">
                    </mat-form-field>
                </div>
            </div>

            <div class="row" *ngIf="frm.notify">
                <div class="col-md-12">
                    <ngx-trumbowyg-editor name="mailBody" [(ngModel)]="frm.mailBody" (ngModelChange)="setEditorHasChanges()" [options]="trumbooptions">
                    </ngx-trumbowyg-editor>
                    <div class="hint">You can insert fields of the submitted form in the body text by using EJS variables: [%= fieldname %] or [%= FIELDLIST %] to list all fields of the form.</div>
                </div>
            </div>

        </mat-card>

    </mat-card>

    <mat-card>
        <div class="row">
            <div class="col-md-12">

                <mat-tab-group mat-align-tabs="start">
                    <mat-tab label="Pug Form Code">
                        <pre>
form(method="POST" action="{{formAPIURL}}")
    input(type="hidden" name="formid" value="{{frm.id}}")
    input(type="text" name="name" placeholder="Name" value="")
    input(type="email" name="email" placeholder="E-Mail address" value="")
    textarea(rows="6" name="message" placeholder="Your message")
              
    input(type="text" class="hidden" id="result" name="result" value="")
    p(class="cslider-warn") Prove that you're not a robot by sliding the button to the right.
    div(class="cslider" title="Swipe to the right" unlockelem="sBtn" unlockv="{{frm.staticcaptcha}}" unlockf="result")
        div(class="cHandle draggable" id="cHandle")
            i(class="far fa-caret-square-right")
    input(type="submit" style="display: none;" id="sBtn" value="Submit" disabled="")

                        </pre>
                    </mat-tab>
                    <mat-tab label="HTML Form Code">
                        <pre>
&lt;form method="POST" action="{{formAPIURL}}"&gt;

    &lt;input type="hidden" name="formid" value="{{frm.id}}"&gt;
    &lt;input type="text" name="name" placeholder="Name" value=""&gt;
    &lt;input type="email" name="email" placeholder="E-Mail address" value=""&gt;
    &lt;textarea rows="6" name="message" placeholder="Your message"&gt;&lt;/textarea&gt;

    &lt;input type="text" class="hidden" id="result" name="result" value=""&gt;
    &lt;p class="cslider-warn"&gt;Prove that you're not a robot by sliding the button to the right.&lt;/p&gt;
    &lt;div class="cslider" title="Swipe to the right" unlockelem="sBtn" unlockv="{{frm.staticcaptcha}}" unlockf="result"&gt;
        &lt;div class="cHandle draggable" id="cHandle"&gt;
            &lt;i class="far fa-caret-square-right"&gt;&lt;/i&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;input type="submit" style="display: none;" id="sBtn" value="Submit" disabled=""&gt;

&lt;/form&gt;
                        </pre>
                    </mat-tab>
                </mat-tab-group>

            </div>
        </div>
    </mat-card>
    <br />
</div>