<div class="container inputform" *ngIf="mt">
    <div class="loaderOverlay" *ngIf="loading"></div>
    <div class="actionbar">
        <a mat-icon-button href="https://www.cloudee-cms.com/documentation#!/doc/microtemplates" target="_blank" title="Help">
            <mat-icon>help_outline</mat-icon>
        </a>

        <mat-menu #miscMenu="matMenu">
            <button mat-button class="mat-menu-item" *ngIf="mt.id" (click)="btnDelete()">Delete</button>
            <button mat-button class="mat-menu-item" (click)="btnCheckUsage()">Check usage</button>
        </mat-menu>

        <button mat-stroked-button [matMenuTriggerFor]="miscMenu" title="More actions..">
            <mat-icon>more_horiz</mat-icon>
        </button>
        <button mat-stroked-button (click)="saveDocument()">Save</button>
    </div>
    <h3>Edit Micro Template {{mt.id?'(ID:'+mt.id+')':''}}</h3>
    <div class="clrhdr"></div>

    <mat-card *ngIf="showUsageBox">
        <div class="row">
            <div class="col-md-12" *ngIf="loading">
                <div class="loader" >
                    Checking where this MicroTemplate is used..
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
            </div>
            <div class="col-md-12" *ngIf="!loading">
                <h3>This MicroTemplates is used in the following pages:</h3>
                <table class="viewTable clickableRows">
                    <thead>
                        <tr>
                            <th style="width: 1%"></th>
                            <th style="width: 40%">Path</th>
                            <th style="width: 59%">Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of lstPagesInUse | orderBy: {property: 'opath', direction: 1}">
                            <td>
                                <mat-icon matListIcon>description</mat-icon>
                            </td>
                            <td class="clickable" (click)="btnNavigateTo('editor/pages/edit/'+item.id)">{{item.opath}}</td>
                            <td class="clickable" (click)="btnNavigateTo('editor/pages/edit/'+item.id)">{{item.title}}</td>
                        </tr>
                    </tbody>
                </table>
                <br/>
                <button mat-stroked-button (click)="showUsageBox=false">Dismiss</button>
            </div>
        </div>
    </mat-card>

    <mat-card>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Template title" type="text" [(ngModel)]="mt.title" required>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Description" type="text" [(ngModel)]="mt.descr" required>
                </mat-form-field>
            </div>
        </div>
    </mat-card>

    <mat-card>
        <div class="row">
            <div class="col-md-12">

                <table class="viewTable fieldsTable sortable">
                    <thead>
                        <tr>
                            <th style="width: 20px;"></th>
                            <th>Field Title</th>
                            <th>Variable name</th>
                            <th>Type</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody cdkDropList (cdkDropListDropped)="dropSortObj(mt.custFields, $event)">
                        <tr *ngFor="let fld of mt.custFields" cdkDrag title="Drag to change sort order">
                            <td class="drag-handle"><mat-icon>drag_indicator</mat-icon></td>
                            <td>{{fld.fldTitle}}</td>
                            <td>{{fld.fldType==='container'||fld.fldType==='richtext'?'!':'#'}}{{'{'}}{{fld.fldName}}{{'}'}}
                            </td>
                            <td>{{fld.fldType}}</td>
                            <td class="hoverActions" style="text-align: right;">
                                <mat-icon title="Edit field" (click)="btnEditField(fld)">edit</mat-icon>
                                <mat-icon title="Delete" (click)="btnDeleteField(fld)">delete</mat-icon>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="3">
                                <b>Note:</b> Microtemplate fields are not accessible from the page layout, they are
                                scoped to this microtemplate only.
                                <br />To access fields of the page, use the 'page.' or 'page.doc.' prefix.
                            </td>
                            <td class="permaActions" style="text-align: right;">
                                <mat-icon title="Add new field" (click)="btnAddNewField()">add</mat-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </mat-card>

    <mat-card>
        <div class="row">
            <div class="col-md-12">

                <mat-form-field class="full-width codeField">
                    <!-- removed cdkTextareaAutosize due to scrolling bug on large fields -->
                    <textarea style="min-height: 260px" matInput placeholder="template content (pug syntax)" type="text"
                        [(ngModel)]="mt.body"></textarea>
                </mat-form-field>
            </div>
        </div>
    </mat-card>

    <mat-card>
        <div style="float: right">
            <a mat-button class="mat-button" href="https://www.cloudee-cms.com/tools/pug-tester" target="_blank">
                Pug-Syntax Testpage <mat-icon>open_in_new</mat-icon>
            </a>
            <a mat-button class="mat-button" href="https://pugjs.org/language/interpolation.html" target="_blank">
                Pug.js Documentation <mat-icon>open_in_new</mat-icon>
            </a>
        </div>
        <button mat-button (click)="btnTogglePugHelp()">
            <mat-icon *ngIf="!showPugHelp">keyboard_arrow_right</mat-icon>
            <mat-icon *ngIf="showPugHelp">keyboard_arrow_down</mat-icon>
            Pug Syntax Help
        </button>
        <div class="row" *ngIf="showPugHelp">
            <div class="col-md-12">
                <pre>
#{{'{'}}fieldname{{'}'}} Print contents of field (escaped)
!{{'{'}}fieldname{{'}'}} Print unfiltered HTML contents of field
#{{'{'}}env.navtree{{'}'}} Access navigation tree, if enabled in settings.
#{{'{'}}env.[variablename]{{'}'}} Access URL variables of CloudFront CDN distributions, as defined in settings.
Current page context is available via 'page' variable (e.g. #{{'{'}}page.title{{'}'}})
                </pre>
            </div>
        </div>
    </mat-card>
    <br />
</div>