<div class="container">
    <div class="loaderOverlay" *ngIf="loading"></div>
    <div class="actionbar">
        <a mat-icon-button href="https://www.cloudee-cms.com/documentation#!/doc/fileeditor" target="_blank"
            title="Help">
            <mat-icon>help_outline</mat-icon>
        </a>
        <button mat-stroked-button (click)="btnOpenCFDialog()">
            <mat-icon>cloud_off</mat-icon>
            Invalidate
        </button>
        <button mat-stroked-button (click)="saveFile()">Save</button>
    </div>
    <h3>Edit File</h3>
    <div class="clrhdr"></div>
    <div class="row">
        <div class="col-md-3">
            <mat-form-field class="full-width">
                <input matInput readonly placeholder="Bucket" type="text" [(ngModel)]="bucketName">
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="full-width">
                <input matInput readonly placeholder="File path" type="text" [(ngModel)]="filePath">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field class="full-width">
                <mat-select placeholder="Cache-Control max. age" (selectionChange)="setHasChanges(true)" title="The maximum amount of time a resource is considered fresh by the browser cache." [(ngModel)]="ccMaxAge">
                    <mat-option *ngFor="let itm of lstCCMaxAge" [value]="itm.val">
                        {{ itm.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-2">
            <mat-form-field class="full-width">
                <input matInput readonly placeholder="Content-Type" type="text" [(ngModel)]="contentType">
            </mat-form-field>

           <!-- reserved for edit mode:
            <mat-form-field>
                <mat-select placeholder="Content-Type" [(ngModel)]="contentType">
                    <mat-option *ngFor="let ct of availableTypes" value="{{ct.ctype}}"> {{ct.label}}</mat-option>
                </mat-select>
            </mat-form-field>
            -->
        </div>
    </div>
    
    <div class="row" *ngIf="fileLoaded">
        <div class="col-md-12">
            <mat-card>
                <mat-form-field class="full-width codeField">
                    <!-- removed cdkTextareaAutosize due to scrolling bug on large fields -->
                    <textarea matInput style="min-height: 460px; font-size: 13px !important;" placeholder="File content" type="text"
                        [(ngModel)]="fileBody" (change)="setHasChanges(true)"></textarea>
                </mat-form-field>
            </mat-card>
        </div>
    </div>
    <br />
</div>