.flx-tree { list-style: none; padding-left: 12px; font-size: 18px; }
.flx-tree .mat-icon { vertical-align: bottom; border-radius: 3px; font-size: 23px; width: 24px; height: 24px; margin-right: 6px; margin-top: 2px; margin-bottom: 2px; border: 1px solid lightgray; background-color: white; }
.flx-tree .treeRow a { cursor: pointer; }
.clickable { cursor: pointer; }