<div class="container">
    <div class="loaderOverlay" *ngIf="loading"></div>
    <div class="actionbar">
        <button mat-stroked-button (click)="btnNavigateTo('editor/blocks/edit/NEW')">
            <mat-icon matListIcon>art_track</mat-icon> New Block
        </button>

        <mat-menu #miscMenu="matMenu">
            <button mat-button class="mat-menu-item" (click)="btnDelete()">Delete all selected</button>
        </mat-menu>

        <button mat-stroked-button [matMenuTriggerFor]="miscMenu" title="More actions..">
            <mat-icon>more_horiz</mat-icon>
        </button>
    </div>
    <h3>Layout Blocks</h3>
    <div class="clrhdr"></div>
    <table class="viewTable clickableRows">
        <thead>
            <tr>
                <th style="width: 1%">
                    <button mat-icon-button (click)="loadView(true)" title="Click to refresh"> 
                        <mat-icon>refresh</mat-icon>
                    </button>
                </th>
                <th style="width: 30%">Key</th>
                <th style="width: 69%">Title</th>
                <th style="width: 1%">
                    <mat-checkbox [(ngModel)]="selectAll" (change)="setSelectAll()"
                        title="{{selectAll?'Deselect':'Select'}} all">
                    </mat-checkbox>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of viewList | orderBy: {property: 'okey', direction: 1}">
                <td><mat-icon matListIcon>art_track</mat-icon></td>
                <td (click)="btnNavigateTo('editor/blocks/edit/'+item.id)">{{item.okey}}</td>
                <td class="clickable" (click)="btnNavigateTo('editor/blocks/edit/'+item.id)">{{item.title}}</td>
                <td>
                    <mat-checkbox [(ngModel)]="item.sel"></mat-checkbox>
                </td>
            </tr>
        </tbody>
    </table>

</div>